.navegacion-principal {
    position: absolute;
    top: 0rem;
    left: 4rem;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion-principal .logo img {
    margin-top: 0.8rem;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navegacion-principal .logo img:hover {
    transform: scale(1.1);
}

.navegacion-principal .menu {
    display: flex;
    gap: 2rem;
}

.navegacion-principal .menu a {
    font-size: 2rem;
    color: var(--secundario);
    text-decoration: none;
}

.navegacion-principal .menu a:hover {
    color: var(--secundarioHover);
}

a {
    text-decoration: none;
    color: var(--secundario);
    font-size: 2.5rem;
    margin: 0 1rem;
}

a:hover {
    color: var(--secundarioHover);
}
